 <!--Contact(start)-->
 <table id="Contact Us" border="0" width="100%"
 cellpadding="0" cellspacing="0" bgcolor="black">

<div class="container">
<form action="https://formspree.io/f/mvongzdz" method="POST">
<label for="fname">Full Name</label></br>
<input type="text" id="fname" name="fullname" placeholder="Your full name.." required></br>

<label for="email">Email Address</label></br>
<input type="text" id="email" name="emailaddress" placeholder="Email Address.." required></br>

<label for="subject">Continent</label></br>
<select name="Continent">
 <option>Africa</option>
 <option>Antarctica</option>
 <option>Asia</option>
 <option>Australia</option>
 <option>Europe</option>
 <option>North America</option>
 <option>South America</option>
</select> <br>

<label for="subject">Message</label></br>
<textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea></br>

<input type="submit" value="Send">
</form>
</div>
</form>
</table>
<!--Contact(end)-->
